

input{
    padding: 15px 10px;
}
.sign-p{
    font-size: 14px;
}

.btn-warning{
    
    color:white !important;
    font-weight: 600 !important;
}
a{
    text-decoration: none !important;
    color: #ffc107 !important;
}
